* {
  border: 0;
  margin: 0;
  padding: 0;
}

html {
  background-color: #1B75BC;
}

body {
  background-color: white;
  font-family: 'Arimo', sans-serif;
  width: 1200px;
  margin: 0 auto;
}

header {
  background-color: #D1D3D4;
  font-family: 'Work Sans', sans-serif;
}

h1, h2 {
  font-family: 'Work Sans', sans-serif;

}

li a {
  width: 240px;
  margin: 0 auto;

}

header nav a {
text-decoration: none;
color: white;
margin: 0 20px;
text-align: center;
padding: 2% 0;
}


header nav ul li {
display: inline;
margin: 0 auto;
padding: 2% 0;
text-align: center;
text-decoration: none;
font-size: 2em;
justify-content: center;
}

header img {
  width: 240px;
}

.hero img {
  width: 100%;
  height:600px;
  max-width: 1000px;
  margin: 0 auto;
}

.about {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.mission, .visions, .goals {
  width: 340px;
  flex: 1;
  padding: 0 20px;
}

.mission h2 {
  background-color: #D1D3D4;
  color: #1B75BC;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.visions h2 {
  background-color: #D1D3D4;
  color: #1B75BC;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.goals h2 {
  background-color: #D1D3D4;
  color: #1B75BC;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.contact h1 {
  text-align: center;
}


form {
  max-width: 500px;
  width: 100%;
  padding-left: 20px;
}

form p {
  padding: 10px 0;
}

.form {
  float: left;
  margin: 0 auto;
}

.map {
  float: right;
  margin: 0 auto;
  text-align: center;
}


input {
  border: 2px solid;
  border-color: #1B75BC;
}

textarea {
  border: 2px solid;
  border-color: #1B75BC;
  max-width: 500px;
  width:100%;
  height: 150px;
}

footer {
  background-color: #D1D3D4;
  display: flex;
  flex-direction: row;
}

.foot_nav, .location, .connect {
  max-width: 340px;
  width: 100%;
  flex: 1;
  padding: 0 20px;
}

footer ul li a img {
  display: inline;
  text-align: center;
  margin: 0 auto;
}

footer ul li {
  list-style: none;
}
